SSMTP_LOGIN=
SSMTP_PASSWORD=

SSMTP_HUB=
SSMTP_PORT=

# The IP address of the host which listening for debug requests
# Linux: the IP of default gateway in local docker network
# MacOS: host.docker.internal
XDEBUG_REMOTE_HOST=

# Server name in phpstorm
# For example:
# PHP_IDE_CONFIG=serverName=Docker
PHP_IDE_CONFIG=serverName=
