SSMTP_LOGIN=
SSMTP_PASSWORD=

SSMTP_HUB=
SSMTP_PORT=

# XDEBUG configuration
XDEBUG_CONFIG=remote_enable=1 remote_connect_back=1 remote_port=9000 idekey=PHP_STORM

# Server name in phpstorm
# For example:
# PHP_IDE_CONFIG=serverName=localhost
PHP_IDE_CONFIG=serverName=
